 
 .modal {
  display: grid; 
  align-items: center; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: none; 
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  grid-template-columns: 1fr, 1fr;
  align-content: center;
  background-color: #3F51B5;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 30px;
  color:rgb(129, 253, 170);
 border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  width: 40%;
}

/* The Close Button */
.close {
  display: grid;
  color: rgb(216, 99, 99);
  float: right;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 